@import './misc.scss';
@import './media_query';

body.top {
    background-image: url(../images/top/page-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .top-section {
        margin-bottom: 50px;
    }

    .top-hero {

        @include mq(sp) {
            margin-top: 100px;
        }

        &--upper {
            @include mq(sp, true) {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            @include mq(sp) {
                margin-bottom: 50px;
            }
        }

        &--lower {
            position: relative;

            .bg-object--01 {
                @include mq(sp, true) {
                    width: 55px;
                    height: 55px;
                    top: -5em;
                    left: 0;
                }

                @include mq(sp) {
                    width: 50px;
                    height: 55px;
                    top: 0;
                    left: -10px;
                }
            }

            .bg-object--02 {
                @include mq(sp, true) {
                    width: 115px;
                    height: 85px;
                    right: -3em;
                    bottom: 70px;
                }

                @include mq(sp) {
                    width: 55px;
                    height: 85px;
                    right: -10px;
                    bottom: 50%
                }
            }
        }

        &--heading {
            font-weight: 800;
            margin-bottom: 50px;

            @include mq(sp) {
                text-align: center;
                margin-bottom: 30px;
            }
        }

        &--sub-heading {
            margin-bottom: 70px;
            line-height: 2;
            text-align: center;

            @include mq(sp) {
                margin-bottom: 30px;
            }
        }

        &--sn {
            @include flex_block(center);

            @include mq(sp) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &-item {
                width: 190px;
                min-height: 65px;
                border-radius: 5px;
                background-color: #fff;

                @include mq(sp) {
                    width: 100%;
                }

                &:not(:last-child):not(:only-child) {
                    @include mq(sp, true) {
                        margin-right: 50px;
                    }

                    @include mq(sp) {
                        margin-bottom: 20px;
                    }
                }

                a {
                    width: 100%;
                    height: 100%;
                    @include flex_block(center, center);
                    color: #8C9EFF;

                    @include mq(sp) {
                        height: 60px;
                    }

                    span {
                        font-size: 20px;
                        margin-left: 10px;

                        @include mq(sp) {
                            margin-left: 20px;
                        }
                    }
                }

                &--twitter {
                    a {
                        color: #2AA9E0;
                    }
                }
            }
        }

        &--event {
            @include flex_block(center, center);

            @include mq(sp) {
                flex-direction: column;
            }

            &-img {
                width: 500px;
                margin-right: 70px;
                @include img_block();
                @include img_shadow();

                @include mq(sp) {
                    width: 70%;
                    margin-right: 0;
                    margin-bottom: 20px;
                }

                img {
                    border-radius: 10px;
                }
            }

            &-text {
                @include mq(sp, true) {
                    flex: 1;
                    max-width: 455px;
                }

                p {
                    margin-bottom: 50px;
                    
                    @include mq(sp) {
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }
            }

            &-btn {
                @include mq(sp) {
                    a {
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .top-benefits {
        position: relative;
        @include mq(sp, true) {
            display: flex;
        }

        &--content {
            @include mq(sp, true) {
                width: 600px;
                margin-right: 110px;
            }
        }

        &--img {
            width: 550px;
            position: absolute;
            z-index: -1;

            @include mq(sp, true) {
                right: -100px;
                bottom: 0;
            }
            @include img_block();

            @include mq(sp) {
                width: 120px;
                top: -120px;
                right: -20px;
            }
        }

        &--item {
            display: flex;
            align-items: center;

            @include mq(sp) {
                align-items: flex-start;
            }

            &:not(:last-child):not(:only-child) {
                margin-bottom: 30px;

                @include mq(sp) {
                    margin-bottom: 20px;
                }
            }

            &-icon {
                @include flex_block(center, center);
                flex: none;
                width: 80px;
                height: 80px;
                margin-right: 35px;
                background-color: #EA8F36;
                border: 5px solid #fff;
                border-radius: 20px;

                @include mq(sp) {
                    width: 60px;
                    height: 60px;
                    margin-right: 15px;
                    border-width: 2px;
                    border-radius: 10px;
                }

                img {
                    width: 46px;

                    @include mq(sp) {
                        width: 40px;
                    }
                }
            }

            &-text {
                @include mq(sp) {
                    margin-top: -5px;
                }

                h2 {
                    font-size: 28px;
                    font-weight: 600;

                    @include mq(sp) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .top-showcases {

        margin: 120px 0;

        @include mq(sp) {
            margin: 50px 0;
        }

        &--content {
            position: relative;
        }

        &--slider {
            display: flex;
            flex-wrap: wrap;
            margin-right: -50px;
            position: relative;

            @include mq(sp) {
                //width: 70%;
                margin: 0 auto;
            }
        }

        &--item {
            @include mq(sp, true) {
                flex-basis: calc(33.33% - 50px);
                margin-right: 50px;
            }

            @include img_block();
            @include img_shadow();
            margin-bottom: 50px;
            margin-top: 50px;

            @include mq(sp) {
                margin: 40px;
            }
        }

        &--arrow-wrapper {
            @include mq(sp) {
                display: none;
            }
        }

        &--arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #EA8F36;
            @include flex_block(center, center);

            &::after {
                content: "";
                display: block;
                width: 23px;
                height: 23px;
                background-image: url(../images/common/arrow.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }

            &__left {
                left: -65px;

                &::after {
                    transform: rotate(180deg);
                }
            }

            &__right {
                right: -65px;
            }
        }
    }

    .top-roadmap {

        &--content {
            display: flex;
            flex-direction: column;
            position: relative;

            .bg-object--01 {
                @include mq(sp, true) {
                    width: 513px;
                    height: 379px;
                    top: -200px;
                    left: 0;
                }

                @include mq(sp) {
                    width: 130px;
                    height: 379px;
                    top: -135px;
                    left: -35px;
                }
            }
            .bg-object--02 {
                @include mq(sp, true) {
                    width: 258px;
                    height: 192px;
                    top: 220px;
                    right: 0;
                }

                @include mq(sp) {
                    width: 90px;
                    height: 192px;
                    top: -100px;
                    right: -11px;
                }
            }
            .bg-object--03 {
                @include mq(sp, true) {
                    width: 289px;
                    height: 241px;
                    top: 490px;
                    left: -120px;
                }

                @include mq(sp) {
                    width: 60px;
                    bottom: -70px;
                    left: 0;
                }
            }
            .bg-object--04 {
                @include mq(sp, true) {
                    width: 356px;
                    height: 264px;
                    bottom: 220px;
                    right: 50%;
                }

                @include mq(sp) {
                    display: none;
                }
            }
            .bg-object--05 {
                @include mq(sp, true) {
                    width: 216px;
                    height: 161px;
                    bottom: 20px;
                    right: 0;
                }

                @include mq(sp) {
                    width: 90px;
                    bottom: -100px;
                    right: 0;
                }
            }
        }

        &--item {
            display: flex;
            align-items: flex-start;
            margin-left: auto;

            @include mq(sp, true) {
                width: 50%;
            }

            @include mq(sp) {
                margin-bottom: 20px;
                align-items: stretch;
            }

            &--head {
                z-index: 1;

                @include mq(sp) {
                    display: flex;
                    flex-direction: column;
                }
            }

            &-icon {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: #EA8F36;
                border: 5px solid #fff;
                margin-right: 60px;
                margin-left: -35px;
                position: relative;
                z-index: 1;

                @include mq(sp) {
                    width: 50px;
                    height: 50px;
                    border-width: 2px;
                    margin-right: 20px;
                    margin-left: 0;
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);

                    @include mq(sp) {
                        width: 60%;
                    }
                }
            }

            &-bar {
                width: 8px;
                height: 180px;
                background-color: #4C5481;
                margin: -1px 0;
                z-index: -1;

                @include mq(sp) {
                    flex: 1;
                    width: 4px;
                    height: auto;
                    margin-left: 25px;
                    margin-top: 1px;
                    margin-bottom: -20px;
                }
            }

            &-text {
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: row-reverse;

                &--inner {
                    min-height: 160px;
                    background-color: #EBEBEB;
                    padding: 20px;
                    border-radius: 6px;
                    overflow: hidden;
                    transform: translate(-110%, 0);
                    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;

                    &-sub {
                        opacity: 0;
                        display: block;
                        transform: translate(100%, 0);
                        transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
                    }
                }

                @include mq(sp) {
                    min-height: 100px;
                }

                &--convo {
                    //transform: translateX(-100%);
                    opacity: 0;
                    margin-top: 20px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 11px 22px 11px 0;
                    border-color: transparent #EBEBEB transparent transparent;

                    @include mq(sp) {
                        border-width: 5px 10px 5px 0;
                    }
                }

                &--head {
                    color: #EA8F36;
                    font-size: 24px;
                    margin-bottom: 15px;

                    @include mq(sp) {
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                }

                &--content {
                    color: #8E8E8E;
                }
            }
        }

        &--img {
            width: 685px;
            margin: 30px auto 60px;
            @include img_block();

            @include mq(sp) {
                width: 280px;
            }
        }

        @include mq(sp, true) {
            .top-roadmap--item__left {
                margin-left: 0;
                flex-direction: row-reverse;
                justify-content: flex-end;
                width: calc(50% + 8px);

                .top-roadmap--item {
                    &-icon {
                        margin-right: -36px;
                        margin-left: 60px;
                    }

                    &-text {
                        flex-direction: row;

                        &--inner {
                            transform: translate(110%, 0);

                            &-sub {
                                transform: translate(-100%, 0);
                            }
                        }

                        &--convo {
                            transform: rotate(180deg) !important;
                        }
                    }

                    &-bar {
                        margin-left: auto;
                    }
                }
            }
        }
    }
}