.fade-in-down {
  opacity: 0;
  transform: translate(0, -50px);
  transition: 1200ms;
  transition-property: opacity, transform; }
  .fade-in-down.-animated {
    opacity: 1;
    transform: translate(0, 0); }

.fade-in-up {
  opacity: 0;
  transform: translate(0, 50px);
  transition: 1200ms;
  transition-property: opacity, transform; }
  .fade-in-up.-animated {
    opacity: 1;
    transform: translate(0, 0); }
