.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 40px;
  width: calc(100% - 250px);
  padding: 0 125px; }
  .header-logo {
    width: 205px;
    margin-right: auto; }
    .header-logo img {
      width: 100%; }
  .header-menu {
    display: flex; }
    .header-menu--item {
      font-size: 24px;
      font-weight: 700; }
      .header-menu--item:not(:last-child):not(:only-child) {
        margin-right: 30px; }
  .header-btn {
    margin-left: auto; }

.section-inner {
  max-width: 1200px;
  margin: 0 auto; }

.section-heading {
  text-align: center;
  margin-bottom: 60px; }

.heading-level1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 700; }
