.header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: calc(100% - 250px);
  padding: 0 125px; }
  .header-logo {
    width: 205px;
    margin-right: auto; }
    .header-logo img {
      width: 100%; }
  .header-menu {
    display: flex; }
    .header-menu--item {
      font-size: 24px;
      font-weight: 700; }
      .header-menu--item:not(:last-child):not(:only-child) {
        margin-right: 30px; }
  .header-btn {
    margin-left: auto; }

.section-inner {
  max-width: 1200px;
  margin: 0 auto; }

.section-heading {
  text-align: center;
  margin-bottom: 60px; }

.heading-level1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 700; }

.bg-object {
  position: absolute; }
  .bg-object img {
    width: 100%; }

.footer {
  width: calc(100% - 250px);
  margin: 40px auto 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .footer-head {
    font-size: 20px;
    margin-right: auto;
    font-weight: 400; }
    .footer-head .highlight {
      color: #EA8F36; }
  .footer-menu {
    display: flex; }
    .footer-menu--item:not(:last-child):not(:only-of-type) {
      margin-right: 30px; }
    .footer-menu--item a {
      font-size: 24px;
      font-weight: 700; }
  .footer-sn {
    display: flex;
    margin-left: auto; }
    .footer-sn--item {
      line-height: 0; }
      .footer-sn--item:not(:last-child):not(:only-of-type) {
        margin-right: 30px; }
